<div class="container">
  <h3>Product Comparison</h3>
  <hr> 
  <% if session[:compare].present? %>
    <table class="table">
      <tr>
        <td style="font-weight: bold; color: #767676; border: none;">Product Details</td>
      </tr>
      <% @products.each_with_index do |field, index| %>
        <tr>
          <td><%= @table_headers[index] %></td>
          <% field.each_with_index do |column, indx| %>
            <% if index == 1 %>
              <td><img src="<%=column %>"></td>
            <% elsif index == 4%>
              <td><%= link_to 'Remove', compare_remove_path(indx), :class => 'remove' %></td>
            <% else %>
              <td><%= column %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="alert alert-warning">You have not chosen any products to compare !</div>
  <% end %>
</div>