// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 50px 0px;

  .row {
    margin: 30px 0px;
  }
  .box {
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding: 15px;
  }
  .card {
    width: 70%;
    background-color: #3098DD;
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
    text-align: right;

    h4 {
      text-align: left;
    }

    h3{
      margin: 15px 0px 20px 0px;
      font-size: 40px;
    }

    a {
      color: #FFFFFF;
      text-shadow: 2px 2px #2787C7;
    }
  }
   .pagination .current {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.26) 0 0 0 1px;
    padding: 5px 10px;
    margin: 1px 2px;
    display: inline-block;
    border-top: 1px solid #fff;
    text-decoration: none;
    color: #525252;
    background-color: #D8D6D6;
   }
   .pagination span a {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
    padding: 5px 10px;
    margin: 1px 2px;
    display: inline-block;
    border-top: 1px solid #fff;
    text-decoration: none;
    color: #525252;
  }
  .pagination span a:hover {
    color: #303030;
  }

  #tabs ul {

    padding: 10px 10px;
    border-bottom: 1px solid #C8C8C8;
    display: inline-block;
    border-radius: 2px;
    margin-left: -15px;

    li {
      display: inline;
      outline: none;
      a {
        outline: none;
        padding: 12px 15px;
        margin: 0px 5px;
        border: 1px solid #C2C2C2;
        background-color: #D7D7D7;
        color: #444444;  
      }
    }
    .ui-tabs-active a {
      background-color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
  }
}
 