/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  background: none;
  background-color: #FFFFFF;
  font-family: 'Droid Sans', sans-serif;
}


.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #229ac8;
  background-image: -webkit-linear-gradient(top,#7fbf4d,#63a62f);
  background-repeat: repeat-x;
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
}
.btn-primary:hover {
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
}

.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E59D37;
  background-image: -webkit-linear-gradient(top, #DA983B, #D07A00);
  background-image: linear-gradient(to bottom, #DA983B, #D07A00);
  background-repeat: repeat-x;
  border-color: #f0ad4e #BE7C1D #86540E;
}

.alert {
  border-radius: 0px;
}


::-webkit-scrollbar {
  width: 0.8em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(147, 147, 147);
}

::-webkit-scrollbar-track {
  background: #b7bfc7;
}


.header {
  background: #FFFFFF;
  a {
    color: #E8E8E8;
    font-weight: bold;
  }
  a:hover {
    color: #E1F6FD;
    background-color: rgba(255, 255, 255, 0.09) !important;
  }


  .navbar {
    margin-bottom: 0;

    .icon-bar {
      background: #696969;
    }
    .mini-cart-trigger {
      cursor: pointer;  
    }
    .mini-cart-ico {
      height: 26px;
    }

    .cart-count {
      position: absolute;
      top: 4px;
      right: -8px;
      background: #D4E2EC;
      color: #12496E;
      border-radius: 50%;
      height: 23px;
      width: 23px;
      text-align: center;
      line-height: 1.8;
      z-index: 1;
    }
    .mini-cart {
      cursor: default;
      position: absolute;
      max-height: 400px;
      overflow: auto;
      overflow-x: hidden;
      width: 260px;
      background: #FFFFFF;
      right: -1px;
      top: 41px;
      padding: 8px 10px;
      border: 1px solid #e0e4e7;
      border-radius: 3px;
      box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.4);
      z-index: 1;
      visibility:hidden;
      opacity:0;
      transition:visibility 0s linear 0.2s,opacity 0.2s linear,top 0.2s linear;
      .product {
        border-bottom: 1px solid #DBDBDB;
        position: relative;
      }
      .mini-cart-remove {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        border: 1px solid #D54937;
        background: #D54937;
        color: #FFFFFF;
        padding: 0px 3px;
        line-height: 1.1;
        opacity: 1;
        cursor: pointer;
      }
      img {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
      }
      .mini-product-details {
        display: inline-block;
        width: 60%;
        padding-left: 10px;
      }
      h5 {
        font-size: 12px;
        font-weight: bold;
        color: #303030;   
      }
      h6 {
        color: #303030; 
      }
    }

    .mini-cart-trigger:hover .mini-cart{
      visibility:visible;
      opacity:1;
      transition-delay:0s;
      top: 48px;
    }
  }
  .navbar-inverse .navbar-nav > li > a {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}


