/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  background: none;
  background-color: #FFFFFF;
  font-family: 'Droid Sans', sans-serif;
  overflow-y: scroll;
}

button.btn.btn-default:focus {
  outline: none;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7fbf4d;
  background-image: -webkit-linear-gradient(top,#7fbf4d,#63a62f);
  background-repeat: repeat-x;
  border: 1px solid;
  border-color: #63a62f;
  border-bottom: 1px solid #5b992b;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #7fbf4d !important;
  border-color: #4C8321 !important;
}

.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E59D37;
  background-image: -webkit-linear-gradient(top, #DA983B, #D07A00);
  background-image: linear-gradient(to bottom, #DA983B, #D07A00);
  background-repeat: repeat-x;
  border-color: #f0ad4e #BE7C1D #86540E;
}

.alert {
  border-radius: 0px;
  margin: 0;
}


/*::-webkit-scrollbar {
  width: 0.8em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(147, 147, 147);
}

::-webkit-scrollbar-track {
  background: #b7bfc7;
}
*/

.header {
  background: #FFFFFF;
  a {
    color: #E8E8E8;
    font-weight: bold;
  }
  a:hover {
    color: #E1F6FD;
    background-color: rgba(0,0,0,0.05) !important;
  }


  .navbar {
    margin-bottom: 0;

    .icon-bar {
      background: #696969;
    }
    .mini-cart-trigger {
      cursor: pointer;  
    }
    .mini-cart-ico {
      height: 26px;
    }

    .compare-ico img{
      height: 22px;
    }

    .cart-count {
      position: absolute;
      top: 6px;
      right: -2px;
      background: #f05050;
      color: #FFFFFF;
      border-radius: 50%;
      width: 20px;
      z-index: 1;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(0,0,0,0.2);
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    }
    .triangle {
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid #ffffff;
      position: absolute;
      right: 15px;
      top: 41px;
      z-index: 2;
      opacity: 0;
    }
    .mini-cart {
      cursor: default;
      position: absolute;
      max-height: 400px;
      overflow: auto;
      overflow-x: hidden;
      width: 260px;
      background: #FFFFFF;
      right: -1px;
      top: 41px;
      padding: 8px 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      border-color: rgba(0,0,0,.2);
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
      box-shadow: 0 2px 10px rgba(0,0,0,.2);
      z-index: 1;
      visibility:hidden;
      opacity:0;
      transition:visibility 0s linear 0.2s,opacity 0.2s linear,top 0.2s linear;
      .product {
        border-bottom: 1px solid #DBDBDB;
        position: relative;
      }
      .product:hover {
        background-color: #E0E0E0 !important;
        border-bottom: 1px solid #D3D3D3;
      }
      .mini-cart-remove {
        position: absolute;
        right: 0px;
        top: 5px;
        font-size: 14px;
        border: 1px solid #D54937;
        background: #D54937;
        color: #FFFFFF;
        padding: 0px 3px;
        line-height: 1.1;
        opacity: 1;
        cursor: pointer;
      }
      img {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
      }
      .mini-product-details {
        display: inline-block;
        width: 63%;
        padding-left: 10px;
      }
      h5 {
        font-size: 12px;
        font-weight: bold;
        color: #303030;   
      }
      h6 {
        color: #303030; 
      }
    }

    .mini-cart-trigger:hover .mini-cart{
      visibility:visible;
      opacity:1;
      transition-delay:0s;
      top: 48px;
    }
    .mini-cart-trigger:hover .triangle {
      opacity: 1;
    }
  }
  .navbar-inverse .navbar-nav > li > a {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  outline: none;
  }
}

.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete {
  background-color: #FFFFFF;
  padding: 10px 0px;
  list-style-type:  none;
  width: 245px;
  border: 1px solid #D7D7D7;
  border-top: none;
  max-height: 400px;
  overflow: auto;

  .search_header {
    padding: 5px 0px 10px 12px; 
    border-bottom: 1px solid #CDCDCD; 
    color: #1C3C57; 
    display: block;
    font-weight: bold
  }
  .search-category-item {
    padding: 6px 12px;
    display: block;
    font-size: 12.5px;
    text-decoration: none;
    color: #1C3C57;
  }
  li a {
    padding: 6px 12px;
    display: block;
    font-size: 12.5px;
    text-decoration: none;
    color: #1C3C57;
  }
  li {
    border: 1px solid #ffffff;
  }
  li:hover {
    background-color: #dddddd;
    cursor: pointer;
    border: 1px solid #D7D7D7;
  }
}