// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-products {
  .product-row {
    .image {
      display: inline-block;
      width: 80px;
      margin: 10px 0px;

      img {
        width: 60%;
      }
    }
    .details {
      display: inline-block;
      vertical-align: top;
    }
    h5 {
      font-weight: bold;
      color: #428bca;
    }
    .price {
      color: #b12704;
      font-size: 15px;
    }
  }
}

.address {
  
}

.remove {

  display: block;
  color: #494949;
  padding: 2px 2px;
  border: 1px solid #ADADAD;
  width: 60px;
  text-align: center;
  margin: 10px 0px;
  border-radius: 4px;
}



.confirm_product {
  position: relative;
  width: 150px;
  height: 225px;
  padding: 15px;
  margin: 5px 5px 5px 0px;
  float: left;
  border: 1px solid #D8D8D8;
  text-align: center;

  .number {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #565656;
    border-radius: 50%;
    border: 1px solid #595959;
    line-height: 1.4;
    width: 20px;
    height: 20px;
  }
  img {

  }

  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 12px;
  }
}

.confirm_address {
  padding: 10px 0px;

  h5 {
    font-size: 14px;
    padding: 2px 0px;
  }
}
