body {
  background-color: #848484;
  /*background: url('mainbanner.jpg');*/
}

.login-container {
  background: rgba(255, 255, 255, 0.53);
  padding: 15px 50px;
  margin-top: 60px;
  border-radius: 8px;
}