// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
  clear: both;
}

.products-container {
  padding: 20px;

  .product-box {
    text-align: center;
    height: 250px;
    padding-top: 30px;
      
    .img-container {
      height: 125px;
    }

    h5 {
      font-size: 13px;
      font-weight: bold;
      padding: 5px;
      color: #424242;
      margin: 5px 0px 0px 0px;
    }
    h6 {
      color: #6E6E6E;
      margin: 2px 0px 0px 0px;
    }
  }
  .product-box:hover {
      background-color: #DDD;
  }
}
