// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-container {
  padding: 30px;
  background: #FFF;
  width: 100%;

  .flash-message {
    display: inline-block;
    text-align: center;
    padding: 6px 26px;
    top: -2px;
    position: relative;
    border-radius: 2px;
    display: none;
  }

  .product-image {
    position: relative;
    border-right: 1px solid #B6B6B6;
    text-align: center;
    padding: 30px;

    #blowup {
      height: 300px; 
      padding: 25px;
      cursor:zoom-in;

      #blowup-image {
        max-width:100%; 
        max-height:100%;
      }
    }
    #light-box {
      .tiny-image {
        display: inline-block;
        height: 80px;
        width: 60px;
        padding: 5px;
        border: 1px solid #B6B6B6;
        margin: 0px 2px;
        vertical-align: top;
        cursor: pointer;
        border-radius: 3px;
        .helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img  {
          max-height: 43px;
          max-width: 44px;
        }
      }
    }
  }

  .product-details {
    padding-left: 50px;
    padding-top: 20px;

    .brand {
      color: #6D6D6D
    }
    .price {
      padding-top: 10px; 
      padding-bottom: 20px;

      span {
        color: #6D6D6D;
        font-weight: 100;
      }
    }

    .number-input {
      width: 60px;
      padding: 0px 0px 0px 5px;
      margin: 0px 5px;
      font-size: 20px;
      color: #5E5E5E;
      outline: none;
    }

    .buy-now {
      padding: 8px 22px;
    }

    .add-to-cart {
      padding: 8px 22px;
    }
  }

  .reviews {
    padding: 30px 0px;
  }
}


/* Add to compare button*/
.compare {
  color: #444444;
  margin: 10px 0px 0px -10px !important;

  img {
    width: 21px; 
    margin: 0px 5px 0px 0px; 
    vertical-align: top; 
    opacity: .7;
  }
}
.compare:hover {
  color: #000000;

  img {
    opacity: .9;
  }
}


/* New product page */
.add_image, .add_image:hover, .add_image:focus{
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #0E83CD;

  :before {
    content: '+';
  }
}