// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-container {
  padding: 30px;
  background: #FFF;
  width: 100%;

  .product-image {
    border-right: 1px solid #B6B6B6;
    text-align: center;
    padding: 30px;
  }

  .product-details {
    padding-left: 50px;
  }

  .reviews {
    padding: 30px 0px;
  }
}

/* Add to compare button*/
.compare {
  color: #444444;
  margin: 10px 0px 0px -10px !important;

  img {
    width: 17px; 
    margin: 0px 5px 0px 0px; 
    vertical-align: top; 
    opacity: .7;
  }
}
.compare:hover {
  color: #000000;

  img {
    opacity: .9;
  }
}